#jumbotron {
    text-align: center;
    background-image: url("/src/assets/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgb(3,9,49);
    font-family: 'Yatra One', cursive;
    color: white;
    height: fit-content;
    text-shadow: 5px 5px 5px rgb(0,136,144);
    font-size: xx-large;
}
#myNameContainer {
    padding: 10rem;
}

#myName {
    font-size: 3.5;
}
#webDeveloper {
    font-size: xx-large;
}

h3 {
    font-family: 'Yatra One', cursive;
    color: white;
    font-size: 3rem;
    text-decoration: underline;
    text-shadow: 3px 3px 3px rgb(10,2,91);
}
