#googlebooksCard {
    background-image: url("/src/assets/brandbackground.jpg");
    background-size: cover;
    box-shadow: 10px 10px 5px rgb(3,9,49);
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    margin-top: 1rem;
    
}

h3, h5 {
    text-align: center;
}

#googleGithubButton, #googleDeployedButton {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(0,136,144);
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(3,9,49);
    color: white;
}
#googlebooksImage {
    border-radius: 15px;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
};