#brandStatement {
margin-left: 3rem;
color: white;
font-size: larger;
}

h3 {
    text-shadow: 5px 5px 5px rgb(0,136,144);
    font-family: 'Yatra One', cursive;
    font-size: 2rem;
    text-decoration: underline;
}
#brandCard {
    height: fit-content;
    padding-top: 3rem;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgb(3,9,49);
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    background-image: url("/src/assets/brandbackground.jpg");
    background-size: cover;
}